#############################
# Git ignore - Java Eclipse #
#############################
 
*.bak
*.class
*.jar
*.launch
*.pydevproject
*.swp
*.tmp
*~.nib
.buildpath
.classpath
.DS_Store
.loadpath
.metadata
.project
.settings
.settings/
/bin/
/build/
/log/
bin/**
Desktop.ini
local.properties
target/
Thumbs.db
tmp/**
tmp/**/*
